# =========================
# Konfigurasi Aplikasi
# =========================
SECRET_KEY=isi_secret_key_aplikasi

# =========================
# Konfigurasi TiDB
# =========================
DB_HOST=isi_host_tidb
DB_PORT=4000
DB_USER=isi_user_tidb
DB_PASSWORD=isi_password_tidb
DB_NAME=portfolio_db

# =========================
# Konfigurasi Cloudinary
# =========================
CLOUDINARY_CLOUD_NAME=isi_cloud_name
CLOUDINARY_API_KEY=isi_api_key
CLOUDINARY_API_SECRET=isi_api_secret

# =========================
# Konfigurasi Resend
# =========================
RESEND_API_KEY=isi_resend_api_key
ADMIN_EMAIL=isi_email_tujuan
RESEND_FROM="Firda Portfolio <onboarding@resend.dev>"
